
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a class="btn btn-primary" href="https://api.vimeo.com/oauth/authorize?response_type=code&client_id=865935be6d8a847f41e4554bd2e5b5af2ed53edf&redirect_uri=http://localhost:53520/api/AuthVimeo/&state=vamosnessa&scope=public">Autenticar Vimeo</a>

<a class="btn btn-primary" href="https://api-sec-vlc.hotmart.com/security/oauth/authorize?response_type=code&client_id=cacc845e-c27e-4aab-ab5b-a8ea6a759f58&redirect_uri=http://localhost:53520/HotmartConection/Autenticar">Autenticar Hotmart</a>

<h2>Index</h2>

<a class="btn btn-primary" href="http://localhost:53520/api/HotmartWebHook/2">Autenticar Vimeo</a>




@section scripts
    {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

